.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: lightskyblue;
}

.info-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 45vw;
    height: 70vh;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 8px black);
    background-color: white;
    img{
        width: 70%;
        border-radius: 20px;
    }
    h2, h3, h4{
        color: whitesmoke;
        padding: 5px;
        background-color: purple;
        border-radius: 5px;
    }
}