.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.8);
    color: aliceblue;
    height: 20vh;
    border-radius: 20px;
}

.menu-container{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 7vh;
    background-color: grey;
    list-style-type: none;
    border-radius: 20px;
    padding-left: 1%;
    padding-right: 1%;
    filter: drop-shadow(0px 0px 6px black);
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        li{
            padding-right: 3%;
        }
    }
}

.logo{
    width: 7%;
    filter: drop-shadow(0px 0px 4px black);
}