.header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: red;
    color: aliceblue;
    height: 20vh;
}

.menu-container{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-color: grey;
    list-style-type: none;
    border-radius: 20px;
    filter: drop-shadow(0px 0px 4px black);

}

.menu-container ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: rgb(23, 171, 87); */
    list-style-type: none;
}

.menu-container ul li{
    padding-right: 24px;
}

.logo{
    width: 65%;
    height: 65%;
}